// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webapp-primary: mat.define-palette(mat.$indigo-palette);
$webapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webapp-theme: mat.define-light-theme((
  color: (
    primary: $webapp-primary,
    accent: $webapp-accent,
    warn: $webapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($webapp-theme);

/* You can add global styles to this file, and also import other style files */
// @import url('./variables.scss');
// @import '@ui/src';

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
  margin: 0;
}

:root {
  color-scheme: light dark;
  --ng-icon__size: 28px;
}

// @media (prefers-color-scheme: light) {
html {
  --tg-theme-accent-text-color: #168acd;
  // --tg-color-scheme: light;
  --tg-theme-bg-color: #ffffff;
  --tg-theme-button-color: #40a7e3;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-destructive-text-color: #d14e4e;
  --tg-theme-header-bg-color: #ffffff;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #168acd;
  --tg-theme-secondary-bg-color: #f1f1f1;
  --tg-theme-section-bg-color: #ffffff;
  --tg-theme-section-header-text-color: #168acd;
  --tg-theme-subtitle-text-color: #999999;
  --tg-theme-text-color: #000000;
  --tg-viewport-height: 591px;
  --tg-viewport-stable-height: 591px;
  --separator-color: #d9d9d9;
  --second-button-color: rgb(64 167 227 / 10%);
  --text-confirm-color: #4ecc5e;
  --button-confirm-color: #4ecc5e;
  --button-main-disabled-color: #e9e8e8;
  --text-main-disabled-color: #bababa;
  --button-destructive-color: rgb(209 78 78 / 10%);
  --highlight-default: rgba(0, 0, 0, 0.05);
  --quick-menu-background: #ffffff;
  --quick-menu-foreground: #222222;
  --toast-background: rgba(40, 48, 57, 0.92);
  --text-overlay: #ffffff;
  --toast-link: #85caff;
  --tertiary-fill-background: rgba(122, 122, 122, 0.12);
  --quaternary-fill-background: rgba(122, 122, 122, 0.08);
  --separator-non-opaque-color: rgba(153, 153, 153, 0.36);
  --accent-orange: #f68136;
  --segmented-control-active-background: #ffffff;
  --tooltip-background: rgba(0, 0, 0, 0.8);
  background: rgb(241, 241, 241);
}

// }

@media (prefers-color-scheme: dark) {
  :root {
    --tg-theme-accent-text-color: #6ab2f2;
    // --tg-color-scheme: dark;
    --tg-theme-bg-color: #17212b;
    --tg-theme-button-color: #5288c1;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-destructive-text-color: #ec3942;
    --tg-theme-header-bg-color: #17212b;
    --tg-theme-hint-color: #708499;
    --tg-theme-link-color: #6ab3f3;
    --tg-theme-secondary-bg-color: #232e3c;
    --tg-theme-section-bg-color: #17212b;
    --tg-theme-section-header-text-color: #6ab3f3;
    --tg-theme-subtitle-text-color: #708499;
    --tg-theme-text-color: #f5f5f5;
    --tg-viewport-height: 591px;
    --tg-viewport-stable-height: 591px;
    --separator-color: #000000;
    --second-button-color: rgb(82 136 193 / 10%);
    --text-confirm-color: #61bd67;
    --button-confirm-color: #61bd67;
    --button-main-disabled-color: #3c3c3e;
    --text-main-disabled-color: #606060;
    --button-destructive-color: rgb(236 57 66 / 10%);
    --highlight-default: rgba(255, 255, 255, 0.05);
    --quick-menu-background: #282829;
    --quick-menu-foreground: #ffffff;
    --toast-background: rgba(40, 40, 40, 0.96);
    --text-overlay: #ffffff;
    --toast-link: #6cb7ff;
    --tertiary-fill-background: rgba(123, 123, 123, 0.24);
    --quaternary-fill-background: rgba(122, 122, 122, 0.18);
    --separator-non-opaque-color: #000000;
    --accent-orange: #e58943;
    --segmented-control-active-background: #636366;
    --tooltip-background: #3a3a3c;
    background: rgb(35, 46, 60);
  }
}

ui-block-header {
  width: 100%;
}

ui-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 20px;
  background-color: #168acd;
  // display: none;
  z-index: 1000;

  &.active {
    display: block;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --mdc-outlined-button-container-shape: 8px;
  --mdc-outlined-button-outline-color: #DFE1E7;
  --mdc-outlined-button-label-text-color: #0D0D12;
}
