$font-family: "Roboto", sans-serif;
$telegram-bg-color: #fff;
$telegram-text-color: #222;
$telegram-hint-color: #999;
$telegram-link-color: #3a95d5;
$telegram-button-text-color: #fff;
$telegram-button-color: #50a8eb;
$telegram-secondary-bg-color: #f0f0f0;
$wallet-separator-color: #d9d9d9;
$wallet-second-button-color: rgba(80, 168, 235, 0.1);
$wallet-button-confirm-color: #4ecc5e;
$wallet-text-confirm-color: #4ecc5e;
$wallet-button-main-disabled-color: #e9e8e8;
$wallet-text-main-disabled-color: #bababa;
$wallet-text-destructive-color: #cc2929;
$wallet-button-destructive-color: rgba(204, 41, 41, 0.1);
$wallet-highlight-default: rgba(0, 0, 0, 0.05);
$wallet-quick-menu-background: #fff;
$wallet-toast-background: rgba(40, 48, 57, 0.92);
$wallet-toast-link: #85caff;
$wallet-text-overlay: #fff;
$wallet-tertiary-fill-background: rgba(122, 122, 122, 0.12);
$wallet-quaternary-fill-background: rgba(122, 122, 122, 0.08);
$wallet-separator-non-opaque-color: rgba(153, 153, 153, 0.36);
$wallet-accent-orange: #f68136;
$wallet-segmented-control-active-background: #fff;
$wallet-tooltip-background: rgba(0, 0, 0, 0.8);
$wallet-quick-menu-foreground: #222;