<ui-page-container>
  <ui-balance
    [title]="title"
    [value]="form.get('amount')?.value || 0"
  ></ui-balance>
<!--  <ui-page-header header="Новая операция"></ui-page-header>-->
<!--  <div class="form" [formGroup]="form">-->
<!--    <ui-select-field-->
<!--      formControlName="source"-->
<!--      [options]="{label: 'Счет списания'}"-->
<!--      [item]="sourceItem"-->
<!--      [items]="sourceList"-->
<!--      [exclude]="[targetItem.id, sourceItem.id]"-->
<!--    ></ui-select-field>-->

<!--    <ui-select-field-->
<!--      formControlName="target"-->
<!--      [options]="{label: 'Счет зачисления'}"-->
<!--      [item]="targetItem"-->
<!--      [items]="targetList"-->
<!--      [exclude]="[sourceItem.id, targetItem.id]"-->
<!--    ></ui-select-field>-->

<!--    <ui-text-form-field-mobile-->
<!--      formControlName="amount"-->
<!--      [options]="{-->
<!--        placeholder: '0',-->
<!--        label: 'Сумма операции',-->
<!--        suffix: 'р.',-->
<!--      }"-->
<!--    ></ui-text-form-field-mobile>-->

<!--    <ui-text-form-field-mobile-->
<!--      formControlName="description"-->
<!--      [options]="{-->
<!--        placeholder: 'Описание операции',-->
<!--        label: 'Описание операции',-->
<!--      }"-->
<!--    ></ui-text-form-field-mobile>-->
<!--  </div>-->
</ui-page-container>
