<ui-page-container>
  <ui-page-header header="Добавьте кошелек"></ui-page-header>
<!--  <div class="form" [formGroup]="form">-->
<!--    <ui-text-form-field-mobile-->
<!--      formControlName="title"-->
<!--      [options]="{-->
<!--        placeholder: 'Введите название',-->
<!--        label: 'Новый кошелек',-->
<!--      }"-->
<!--    ></ui-text-form-field-mobile>-->
<!--    <ui-text-form-field-mobile-->
<!--      formControlName="description"-->
<!--      [options]="{-->
<!--        placeholder: 'Введите описание',-->
<!--        label: 'Описание',-->
<!--      }"-->
<!--    ></ui-text-form-field-mobile>-->
<!--    <ui-text-form-field-mobile-->
<!--      formControlName="balance"-->
<!--      [options]="{-->
<!--        placeholder: '0',-->
<!--        label: 'Баланс кошелька',-->
<!--        suffix: 'р.',-->
<!--      }"-->
<!--    ></ui-text-form-field-mobile>-->

<!--    <ui-switch-field-->
<!--      formControlName="active"-->
<!--      [options]="{-->
<!--        label: 'Отображать в расчетах',-->
<!--        buttons: ['No', 'Yes']-->
<!--      }"-->
<!--    ></ui-switch-field>-->
<!--  </div>-->
</ui-page-container>
