@if (billAddForm) {
  <form class="form form__container" [formGroup]="billAddForm">
    <ui-text-form-field-mobile
      formControlName="Title"
    ></ui-text-form-field-mobile>
    <ui-text-form-field-mobile
      formControlName="Sum"
    ></ui-text-form-field-mobile>
    <ui-select-field
      formControlName="Period"
    ></ui-select-field>
    <ui-calendar-field
      formControlName="PaidDate"
    ></ui-calendar-field>
  </form>

  @if (!_tg.UserData) {
    <button (click)="submitForm()">{{ MainButtonText }}</button>
  }
}

