<ui-page-container>
  <ui-balance
    [title]="title"
    [value]="form.get('amount')?.value || 0"
  ></ui-balance>
  <!--  <ui-page-header header="Новая операция"></ui-page-header>-->
  <div class="form" [formGroup]="form">
    <ui-select-field
      formControlName="source"
      [options]="{label: 'Счет списания'}"
      [item]="sourceItem"
      [items]="sourceList"
      [exclude]="[targetItem.id, sourceItem.id]"
    ></ui-select-field>

    <ui-input-bot-field
      formControlName="amount"
      [options]="{
        placeholder: '0',
        label: 'Сумма операции',
        suffix: 'р.',
      }"
    ></ui-input-bot-field>

    <ui-input-bot-field
      formControlName="description"
      [options]="{
        placeholder: 'Описание операции',
        label: 'Описание операции',
      }"
    ></ui-input-bot-field>
  </div>
</ui-page-container>
